
#wrapper
{
	max-width: 360px;
	margin: auto;
	overflow: hidden;
}

#content
{
	height: 400px;
	width: 99%;
	background-color: #ffe8c7;
}

#featuredContent
{
	height: 200px;
	width: 100%;
	border: 1px solid black;
	border-bottom: 2px solid #fdc473;
	background-color: #ffe8c7;

	font-family: 'Raleway', sans-serif;	
	font-weight: bold;
	color: #ffffff;
	text-shadow: 0 0 5px #ffb400;
	overflow-x: scroll;
	text-align:  center;
}

#title
{
	padding-top: 5px;
	padding-left: 5px;
	text-align: left;
}

#customContent
{
	height: 195px;
	width: 100%;
	border: 1px solid black;
	border-bottom: 2px solid #fdc473;
	background-color: #fff1de;

	font-family: 'Raleway', sans-serif;	
	font-weight: bold;
	color: #ffffff;
	text-shadow: 0 0 5px #ffb400;
	overflow: auto;
	text-align: center;
}

#mailbox
{
	display: none;
}

#songBook
{
	display: none;
}

#search
{
	display: none;
}

#settings
{
	display: none;
}

#venue
{
	display: none;
}

#venueInterior
{
	width: 99%%;
	height: 97.7%;
	border: 2px solid white;
	padding-top: 5px;
	border-radius: 22px;

	background-color: #fff1de;
}

#settingsInterior
{
	width: 99%%;
	height: 97.7%;
	border: 2px solid white;
	padding-top: 10px;
	border-top-right-radius: 22px;
	border-bottom-right-radius: 22px;

	background-color: #fff1de;
}

#searchInterior
{
	width: 99%%;
	height: 97.7%;
	border: 2px solid white;
	padding-top: 5px;
	border-top-right-radius: 22px;
	border-bottom-right-radius: 22px;
	overflow: hidden;

	background-color: #fff1de;
}

#songBookInterior
{
	width: 99%%;
	height: 97.7%;
	border: 2px solid white;
	padding-top: 1px;
	border-top-right-radius: 22px;
	border-bottom-right-radius: 22px;

	background-color: #ffffff;
	overflow-x: auto;
	overflow-y: hidden;
}

#mailboxInterior
{
	width: 99%%;
	height: 97.7%;
	border: 2px solid white;
	padding-top: 5px;
	border-top-right-radius: 22px;
	border-bottom-right-radius: 22px;

	background-color: #fff1de;
}

#mailList
{
	width: 30%;
	height: 300px;
	padding: 5px;
	float: left;
	border: 1px solid black;
	font-size: 9pt;
	margin-left: 5px;
	background-color: #ffffff;
}

.mailItem
{
	background-color: #ffffff;
	margin-bottom: 2px;
	border: 1px outset black;
	padding: 2px;

}

#mailView
{
	width: 60%;
	height: 300px;
	padding: 5px;
	float: left;
	border: 1px solid black;
	margin: auto;
	text-align: center;
	background-color: #ffdcaa;
}

#controlsBox
{
	width: 99%;
	height: 100px;
	border: 1px solid black;
}

#controlsNav
{
	width: 8%;
	height: 99%;
	float: left;

	border: 1px solid black;
	background-color: #ffb54b;
}

#adspace
{
	float: left;
	width: 79%;
	height: 99%;
}

.option
{
	padding: 2px;
	cursor:pointer;
}

.contentVenueImage
{
	padding: 5px;
	display: inline;
	cursor:pointer;
}

.formField
{
	background: transparent;
	width: 125px;
}

.settingsLabel
{
	width: 175px; 
	float: left; 
	text-align: right;
	margin-left: 5px;
	margin-right: 15px;
	font-family: 'Raleway', sans-serif;	
}

.mailItem
{
	cursor:pointer;
}

@font-face {
    font-family: viaFont;
    src: url("Viafont.otf");
}

#submitContact
{
	font-family: 'Raleway', sans-serif;	
	font-size: 12pt;
	padding-left: 10px;
	padding-right: 10px;
	border: 2px #cccccc outset;

	margin: right;
	text-align: center;
	cursor: pointer;
	background-color: #ffdcaa;
}

#clearContact
{
	font-family: 'Raleway', sans-serif;	
	font-size: 12pt;
	padding-left: 10px;
	padding-right: 10px;
	border: 2px #cccccc outset;

	margin: auto;
	text-align: right;
	cursor: pointer;
	float: left;
}

input#submit{
  background:none;
  border:none;
}

#chooseYes
{
	font-family: 'Raleway', sans-serif;	
}

#chooseNo
{
	font-family: 'Raleway', sans-serif;	
}