#mailbox
{
	display: none;
	position:absolute;
	height: 400px;
	width: 360px;
}

#mailboxInterior
{
	width: 356px;
	height: 391px;
	border: 2px solid white;
	padding-top: 5px;
	border-top-right-radius: 22px;
	border-bottom-right-radius: 22px;

	background-color: #ffb954;
	overflow: hidden;
}

#mailList
{
	width: 106px;
	height: 379px;
	padding: 5px;
	float: left;
	border: 1px solid black;
	font-size: 9pt;
	background-color: #ffffff;
	overflow: hidden;
}

#mailView
{
	width: 224px;
	height: 379px;
	padding: 5px;
	float: left;
	border: 1px solid black;
	margin: auto;
	text-align: center;
	background-color: #ffdcaa;
	border-top-right-radius: 22px;
	border-bottom-right-radius: 22px;
	overflow: hidden;
}

#mailMessagesDiv{
	width:225px;
	height:355px;
	border:1px solid black;
	overflow:auto;
}

#mailInputDiv{
	width:200px;
	height:25px;
	border:1px solid black;
}

#mailInputDiv input{
	width:160px;
	margin-top:1px;
}

#mailMessageSubmitButton{
	float:right;
	height:20px;
	width: 20px;
	background-color:green;
	margin:2px;
	margin-right:5px;
	cursor:pointer;
}

#mailMessageSubmitButton:hover{
	
	height:20px;
	width: 20px;
	background-color:black;
}

.mailMessage{
	width:150px;
	text-align:left;
	border:1px solid black;
	margin:1px;
	clear:both;
}

.mailSentMessage{
	float:right;
}

.mailRecievedMessage{
	float:left;
}

.mailItem
{
	background-color: #ffffff;
	margin-bottom: 2px;
	border: 1px outset black;
	padding: 2px;
	cursor:pointer;
}

.selectedMailThread
{
	font-weight:700;
}
