#checkIn
{
	display: none;
	position:absolute;
	height: 200px;
	width: 360px;
	top: 0px;

	background-image: url("blackBackground.png");
	z-index: 2;
	cursor:pointer;
}

#checkInInterior
{
	position:absolute;
	height: 150px;
	width: 360px;
	padding-top: 5px;

	text-align: center;
	z-index: 2;
}

#checkInLogo
{
	width: 100px;
	height: 88px;
	float: left;

	margin-top: 5px;
	margin-left: 5px;
	border: 2px outset black;

	text-align: center;

	background-color: gray;
}

#checkInDetails
{
	width: 215px;
	height: 90px;

	margin-top: 5px;
	margin-left: 5px;
	float: left;

	background-color: gray;
}

#buttonCheckIn{
	margin-top: 20px;
}