
#wrapper
{
	max-width: 360px;
	overflow: hidden;
}

#content
{
	position:relative;
	height: 400px;
	width: 360px;
	background-color: #ffe8c7;
}

#chatTest {
	float: left;
	margin-left: 400px;
}

#home{
	position:absolute;
	display:inline-block;
	height: 400px;
	width: 360px;
}

#pullDown
{
	position: absolute;
	height: 15px;
	width: 360px;

	margin-top: -9px;

	background-image: url("pulldown.png");
	z-index: 3;
	cursor:pointer;
}

#controlsBox
{
	width: 100%;
	height: 100px;
	border: 1px solid black;
	margin-top: -5px;
	overflow: hidden;
}

#controlsNav
{
	width: 40px;
	height: 99%;
	float: left;
	margin-top: -5px;

	border: 1px solid black;
	background-color: #ffb54b;
}

#adspace
{
	float: left;
	width: 100%;
	height: 100%;
	margin-top: -8px;
}

.option
{
	padding: 2px;
	cursor:pointer;
}

.formField
{
	background: transparent;
	width: 125px;
}

@font-face {
    font-family: viaFont;
    src: url("Viafont.otf");
}

input#submit{
  background:none;
  border:none;
}