#search
{
	display: none;
	position:absolute;
	height: 400px;
	width: 360px;
}

#searchInterior
{
	width: 99%%;
	height: 97.7%;
	border: 2px solid white;
	padding-top: 5px;
	border-top-right-radius: 22px;
	border-bottom-right-radius: 22px;
	overflow: hidden;

	background-color: #ffb954;
}

#searchInput
{
	margin: auto;
	text-align: center;
	padding: 5px;
}