/*Chat.css*/

.Chat{
	height:100%;
	min-height:100px;
	width:100%;
	margin:0px;
	padding:0px;
	position:relative;
	font-size: 10pt;
}

.Chat_wrapper{
	height:200px;
	position:relative;
	background-color: #cccccc;
}

.Chat_messages_container{
	height:200px;
	overflow:auto;
	padding-bottom:50px;
}

#chat_input_form {
	margin-top: 0px;
}

.chat_input_form{
	width:100%;
	line-height:40px;
	text-align:center;
}

.chat_input_form input{
	height:30px;
	width:100%;
	padding:5px;
}

.chatMessage {
	clear:both;
	max-width:90%;
	border:2px outset #ba26ff;
	border-radius:5px;
	margin:5px;
	padding:5px;
	word-wrap: break-word;
}

#chat_wrapper {
	width: 275px;
	float: right;
}

.chatMessageDetails{
	float:left;
	clear:both;
	font-weight:default;
	color: #333333;
}

.recievedChat{
	float:left;
	text-align: left;
	color: #333333;
}

.sentChat{
	float:right;
	text-align: right;
	color: white;
}

.roomChangeMessage{
	clear:both;
	max-width:90%;
	margin:5px;
	padding:4px;
	word-wrap: break-word;
}
.leftRoom{
	color:red;
}
.joinedRoom{
	color:green;
}